.basic {
  width: 100%;
  height: 85%;
}
.info {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 100%;
}
.left {
  width: 48%;
  overflow-y: auto;
  height: 100%;
}
.right {
  width: 48%;
  background-color: rgb(233, 229, 229);
}
.general {
  display: flex;
}
.required {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.input {
  margin: 0.5rem 0;
}
.optional {
  display: flex;
}
.images {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-content: space-between;
}
.avatar {
  margin-bottom: 1rem;
}
.cover {
  margin-bottom: 1rem;
}
