.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid grey;
  margin: 1rem auto;
}
.content {
  height: 92vh;
  margin-top: 4rem;
  overflow-y: scroll;
}
.icon {
  position: absolute;
  height: 35px;
  width: 35px;
  top: -2rem;
}
.onas {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.heading {
  text-align: center;
  font-size: 1.8rem;
}
.books {
  display: flex;
  justify-content: center;
}
.book {
  padding: 2rem;
  color: #04b8f4;
}
.operations {
  background-color: rgb(235, 230, 230);
  height: 80vh;
  padding: 3rem;
}
.inside {
  height: 80vh;
  display: flex;
}
.crud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.holder {
  background-color: white;
  display: flex;
  position: relative;
  padding: 0.5rem;
  height: 22%;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.sticker {
  background-color: #04b8f4;
  position: absolute;
  color: white;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  left: 2rem;
  top: -1rem;
  font-size: 0.8rem;
  width: 7rem;
}
.text {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.info {
  width: 85%;
}
.button {
  width: 30%;
  display: flex;
}
.space {
  letter-spacing: 1px;
}
.right {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  font-size: 0.9rem;
}
