.content {
  border-top-left-radius: 50px;
  width: 83vw;
  height: 92vh;
  margin-top: 4rem;
}
.crud {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.buttom {
}
.type {
  display: flex;
  align-items: center;
}
.new {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.icontype {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70vh;
  transform: translate(-50%, -50%);
  width: 65vw;
  background-color: white;
  box-shadow: 24px;
  padding: 1rem;
}
.modaltop {
  display: flex;
  justify-content: space-between;
}
.modalbuttom {
  display: block;
}
