.discussion {
  width: 100%;
  height: 85%;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.group {
  margin-left: 1rem;
}
.group div:global(.MuiAvatar-root) {
  width: 30px;
  height: 30px;
}
.grey {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(233, 229, 229);
  width: 80%;
  margin-top: 1rem;
  border-radius: 1rem;
}
.layout {
  display: flex;
  width: 100%;
}
.leftbox {
  flex: 2;
  display: flex;
  justify-content: center;
}
.photo {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 1rem;
}
.rightbox {
  display: flex;
  flex-direction: column;
  flex: 8;
  margin-left: 2rem;
  justify-content: space-evenly;
}
.impexp {
  padding: 0 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35%;
  transform: translate(-50%, -50%);
  width: 45%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.modaltop {
  display: flex;
  justify-content: space-between;
}
.modalbuttom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75%;
}
.blocks {
  padding: 1rem;
  flex-basis: 23%;
  height: 75%;
  border: 2px rgb(219, 215, 215) solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
