.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image {
  margin-top: 1.5rem;
  width: 25%;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid green;
}
